@import "normalize.css";
@import "main.css";

html {
  height: 100%;
}

body {
  background: #09c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Consolas, monaco, monospace;
  height: 100%;
}

h1 {
  border: 3px solid #fff;
  border-radius: 9px;
  color: #fff;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1;
  padding: 1em;
  text-align: center;

  span {
    display: block;
    font-weight: 200;
    font-size: 12px;
    line-height: 1;
    margin-top: 1em;
  }

  .dev-site & {
    background: #090;
  }

  .prod-site & {
    background: #fc0;
  }
}
