@import "normalize.css";
@import "main.css";

$color_background: #09c;
$color_white: #fff;
$color_prod: #fc0;
$color_dev: #090;

html {
  height: 100%;
}

body {
  background: $color_background;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Consolas, monaco, monospace;
  height: 100%;
}

h1 {
  border: 3px solid $color_white;
  border-radius: 9px;
  box-shadow: 0 5px 10px 0 rgba(darken($color_background, 20%), 0.50);
  color: $color_white;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1;
  padding: 1em;
  text-align: center;

  span {
    display: block;
    font-weight: 200;
    font-size: 12px;
    line-height: 1;
    margin-top: 1em;
  }

  .dev-site & {
    background: $color_dev;
    text-shadow: 0px 2px 2px rgba(darken($color_dev, 15%), 0.5);
  }

  .prod-site & {
    background: $color_prod;
    text-shadow: 0 2px 2px rgba(darken($color_prod, 15%), 0.5);
  }
}
