<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Home: {{ app_hostname }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/app.css">
</head>

<body class="{{ app_hostname | regex_replace('([^-]+)-[a-z0-9\.]+$', '\\1') }}-site">
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <div class="content">
    <h1 class="content__heading">{{ app_hostname }}</h1>
    <span class="content__timestamp">Last deployed: {{ ansible_date_time.iso8601 }}</span>
    <img class="content__logo" src="img/chromatic-mark-white-knockout.svg" alt="Chromatic HQ mark">
  </div>

  <script src="js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
</body>

</html>
